<p>error-page works!</p>

<ul>
  <li>
    <a routerLink="/auth/login"> Ir al login </a>
  </li>
  <li>
    <a routerLink="/auth/registro"> Ir al registro </a>
  </li>
  <li>
    <a routerLink="/heroes/listado"> Ir al listado </a>
  </li>
</ul>

<!-- al entrar en cualquier ruta que no sean las establecidas nos mandara aquí
aqui se encuentra unordered list (lista desordenada) y en este caso los list items
que son routerLinks que direccionan a las rutas padres, que a su vez estas tienen hijos y ahi es a donde van -->
